@import url('../style.css');

/* Estilos propios de carrito */



.seleccion-productos{
    width: 1000px;
    height: 100px;
    background-color: #FBF0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.carrito-productos img{
    height: 154px;
    width: auto;
}

.producto{
    background-color: white;
    width: 1000px;
    height: 216px;
}

.producto-info h3{
    width: 217px;
    height: 16px;
    font-size: 24px;
    font-weight: lighter;
}

.espacio{
    height: 20px;
    width: auto;
}

.productos-agregar{
    background-color: white;
    width: 1000px;
    height: 640px;
    display: block;
}

.producto-agregar img{
    height: 140px;
    width: auto;
}